{% extends 'home_pages/main_wo_widgets.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
<!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div>
          <br>
          <form method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <button class="btn btn-secondary">Change password</button>
          </form>
          <br>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}