{% extends 'home_pages/main_wo_widgets.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
          <h1>Edit {{user.username}}'s profile...</h1>
          <br>
          {{ user.profile.bio }}
          <Hr>
          <form method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <button class="btn btn-secondary">Save</button>
          </form>
          <br>
    {% else %}
        <h1>You un correct user. Nice try!))</h1>
    {% endif %}
{% else %}
  <h1>Unauthorized. Nice try!))</h1>
{% endif %}
{% endblock %}