{% extends 'home_pages/main_wo_widgets.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div>
          <h1>{{user.username}}'s profile...</h1>
          <br>
          <div>
            <div>
              <div>
                {% if  page_user.profile_pic  %}
                  <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="..." width="200" height="200">
                {% else %}
                  <img src="http://placehold.it/200x200" class="card-img" alt="...">
                {% endif %}
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  {% if page_user.first_name and page_user.last_name %}
                    <h5 class="card-title">{{ page_user.first_name }} {{ page_user.last_name }}</h5>
                  {% else %}
                    <h5 class="card-title">{{ page_user }}</h5>
                  {% endif %}
                  <p class="small text-muted">
                    {% if page_user.website_url %}<a href="{{ post.author.website_url }}" > Website </a> {% endif %}
                    {% if page_user.facebook_url %}<a href="{{ post.author.facebook_url }}" > Facebook </a> {% endif %}
                    {% if page_user.twitter_url %}<a href="{{ post.author.twitter_url }}" > Twitter </a> {% endif %}
                    {% if page_user.instagram_url %}<a href="{{ post.author.instagram_url }}" > Instagram </a> {% endif %}
                    {% if page_user.pinterest_url %}<a href="{{ post.author.pinterest_url }}" > Pinterest </a> {% endif %}
                  </p>
                  <p class="card-text">{{ page_user.bio }}</p>
                </div>
              </div>
            </div>
          </div>


          <br>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}