{% extends 'home_pages/main.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<br>
  <!-- Title -->
  <h1 class="mt-4">{{ post.title }}</h1>
  <!-- Author -->
  <p class="lead">
    by
    <a href="#">{{ post.author }}</a>
    <small><a class="float-right" href="{% url 'category' post.category%}">{{ post.category }}</a></small>
  </p>
  <hr>
  <!-- Date/Time -->
  <p>Posted on {{ post.date_created }}</p>
  <hr>
  <!-- Preview Image -->
  {% if post.header_image %}
  <img class="img-fluid rounded" src="{{ post.header_image.url }}" alt="">
  <hr>
  {% endif %}
  <!-- Post Content -->
  <div>
  <hr>
  <p>{{ post.description }}</p>
  <hr>
  <p>{{ post.body|safe }}</p>
  </div>
  <a href="{% url 'blog' %}" class="btn btn-secondary">Back</a>
  {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <a href="{% url 'update-article' post.pk%}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'delete-article' post.pk%}" class="btn btn-secondary">Delete</a>
    {% endif %}
  {% endif %}
  <hr>
  <form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
          <button type="submit",
                  name="post_id",
                  value="{{post.id}}",
                  class="btn btn-danger btn-sm">Unlike</button>
          ( {{ total_likes }} likes )
        {% else %}
          <button type="submit",
                  name="post_id",
                  value="{{post.id}}",
                  class="btn btn-primary btn-sm">Like</button>
          ( {{ total_likes }} likes )
        {% endif %}
    {% else %}
    ( {{ total_likes }} likes )
    <small><a href="{% url 'login' %}">Login</a> to like</small>
    {% endif %}
  </form>
  <br></br>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if  post.author.profile.profile_pic.url  %}
          <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="..." width="200" height="200">
        {% else %}
          <img src="http://placehold.it/200x200" class="card-img" alt="...">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          {% if post.author.first_name and post.author.last_name %}
            <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
          {% else %}
            <h5 class="card-title">{{ post.author }}</h5>
          {% endif %}
          <p class="small text-muted">

            <a href="{{ post.author.website_url }}" >Website</a> |
            <a href="{{ post.author.facebook_url }}" >Facebook</a> |
            <a href="{{ post.author.twitter_url }}" >Twitter</a> |
            <a href="{{ post.author.instagram_url }}" >Instagram</a> |
            <a href="{{ post.author.pinterest_url }}" >Pinterest</a>

          </p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Comments Form -->
  <div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
      <form>
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <!-- Single Comment -->
  <div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
      <h5 class="mt-0">Commenter Name</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
  <!-- Comment with nested comments -->
  <div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
      <h5 class="mt-0">Commenter Name</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      <div class="media mt-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media mt-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}