{% extends 'home_pages/main.html' %}
{% block content %}
<br>
<div>
  {% for post in object_list %}
  <div class="card mb-4">
    <img class="card-img-top" src="http://placehold.it/750x200" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">
          {{ post.title }}
      </h2>
      <a href="{% url 'category' post.category%}"><small>{{ post.category }}</small></a>
      {% if post.description %}
        <p class="card-text">{{ post.description }}</p>
      {% endif %}
      <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>

      {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
          <small><a class="float-right" href="{% url 'delete-article' post.pk%}">(Delete)</a></small>
          <small><a class="float-right" href="{% url 'update-article' post.pk%}">(Edit)</a></small>
          {% endif %}
      {% endif %}
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.date_created }} by
      <a href="#">{{ post.author }}</a>
    </div>
  </div>
  {% endfor %}
  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>
</div>
{% endblock %}